! xterm ----------------------------------------------------------------------
xterm*termName: xterm-256color
xterm*locale: true
xterm*borderWidth: 0
xterm*selectToClipboard: true
xterm*boldMode: false

xterm*VT100.geometry:     280x80
xterm*faceName:           Ubuntu Mono:size=11
!xterm*font:               *-fixed-*-*-*-11-*
xterm*dynamicColors:      true
xterm*utf8:               2
xterm*eightBitInput:      true
xterm*saveLines:          4096
xterm*scrollKey:          false
xterm*scrollTtyOutput:    false
xterm*scrollBar:          false
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false

! terminal colors ------------------------------------------------------------

! special
*.foreground:   #b9bcba
*.background:   #1f1f1f
*.cursorColor:  #b9bcba

! black
*.color0:       #3a3d43
*.color8:       #888987

! red
*.color1:       #be3f48
*.color9:       #fb001f

! green
*.color2:       #879a3b
*.color10:      #0f722f

! yellow
*.color3:       #c5a635
*.color11:      #c47033

! blue
*.color4:       #4f76a1
*.color12:      #186de3

! magenta
*.color5:       #855c8d
*.color13:      #fb0067

! cyan
*.color6:       #578fa4
*.color14:      #2e706d

! white
*.color7:       #b9bcba
*.color15:      #fdffb9
